.variableText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.cCertifiedDate{
    left: 135px;
    top: 194px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
}

.cDocumentNo{
    left: 135px;
    top: 217px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
}

.cName{
    /*left: 448px;*/
    /*left: 480px;*/
    width: 297mm;
    justify-content: center;
    display: flex;
    top: 300px;
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    /*font-family: CursivCustom;*/
    font-family: Monotype Corsiva Regular
}

.cIssuedDate{
    left: 960px;
    top: 754px;
    position: absolute;
    font-style: italic;
}

.cSignature1{
    left: 150px;
    top: 500px;
    position: absolute;
    font-size: 60px;
}

.cSignature2{
    left: 610px;
    top: 500px;
    position: absolute;
    font-size: 60px;
}

.cSilver{
    left: 900px;
    top: 210px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
    color: rgb(191,191,191);
}

.cGold{
    left: 900px;
    top: 210px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
    color: rgb(213,194,56);
}

.cLevelSubGold{
    left: 942px;
    top: 210px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
}

.cLevelSubSilver{
    left: 948px;
    top: 210px;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    font-family: inherit;
    font-size: 1rem;
}

.eIssuedDate{
    left: 584px;
    top: 102px;
    position: absolute;
}

.eInfos{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 570px;
    top: 218px;
    height: 116px;
    justify-content: space-between;
}

/*.eJobNo{
    left: 478px;
    top: 216px;
    position: absolute;
}

.eYear{
    left: 478px;
    top: 248px;
    position: absolute;
}

.eAffil{
    left: 478px;
    top: 280px;
    position: absolute;
}

.eName{
    left: 478px;
    top: 310px;
    position: absolute;
}*/

.eTable{
    left: 90px;
    top: 434px;
    position: absolute;
    width: 162mm;
}

.eSignature{
    left: 475px;
    top: 878px;
    position: absolute;
    font-size: 32px;
}

.rClassName1{
    left: 292px;
    top: 84px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
}

.rClassName2{
    left: 292px;
    top: 76px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
}

.rClassNameText1{
    left: 344px;
    top: 84px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
    max-width: 140px;
}

.rClassNameText2{
    left: 344px;
    top: 76px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
    max-width: 120px;
}

.rAffil1{
    left: 292px;
    top: 104px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
}

.rAffil2{
    left: 292px;
    top: 112px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
}

.rName1{
    left: 292px;
    top: 124px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
}

.rName2{
    left: 292px;
    top: 132px;
    position: absolute;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: inherit;
}

.rPrice{
    left: 240px;
    top: 155px;
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: inherit;
}

.rDate{
    left: 204px;
    top: 276px;
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
}